body{
          background-color:#e2e2e2;
        }
        /*页头板块*/
        .header{
          height:50px;
          background-color:#fff;
          text-align: center;
          padding-top:8px;          
          box-shadow: 1px 2px #c2c2c2;
        }
        a.lianjie{text-decoration: none;
          color:#000;
        }
        a.lianjie:hover{
          color:#e2e2e2;
        }


        /*中间主板*/
        .container{
          margin:20px auto;
          background-color: #e2e2e2;
        }
        /*主内容，整块左版*/
        .zuoda{
          padding-right:35px;
          border-bottom-left-radius:3px;
          border-bottom-right-radius:3px;
        }


        /*主内容，左上部*/
        .zuo1{
          padding: 0;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
        }
        .zuo11{
          background-color: #fff;
          padding: 10px;
          border-top-left-radius:3px;
          border-top-right-radius:3px;
        }
        a.lianjie1{
          text-decoration:none;
          color:#000;
          margin-right: 5px;
          padding:5px 8px;
          font-size:13px;
          border-radius:3px;
        }
        a.lianjie1:hover{
          color:#000;
          background-color: #e2e2e2;
        }
        .zuo12{
          background-color: #f9f9f9;
          padding: 10px 10px 10px 17px;
        }
        a.lianjie2{
          text-decoration:none;
          color:#778087;
          margin-right:20px;
          font-size:13px;
        }
        a.lianjie2:hover{
          text-decoration:underline;
        }
        .zuo13{
          background-color: #fff;
          padding:10px 10px 0 10px;
          border-top: 1px solid #e2e2e2;
        }
        a.lianjie3{
          text-decoration:none;
          color:#778087;
        }
        a.lianjie3:hover{
          text-decoration:underline;
        }
        a.lianjie4{
          padding:2px 5px;
          border-radius:2px;
        }
        a.lianjie4{
          text-decoration:none;
          background-color:#f5f5f5;
          color:#778087;
        }
        a.lianjie4:hover {
          background-color: #e2e2e2;
        }
        a.lianjie5{text-decoration:none;color:#000;}
        a.lianjie5:hover {text-decoration:underline;}
        .zuo14{
          background-color: #fff;
          border-bottom-left-radius:3px;
          border-bottom-right-radius:3px;
          padding: 10px;
          border-top: 1px solid #e2e2e2;
        }
        a.lianjie6{
          text-decoration:none;
          color:#778087;
          font-size:13px;
        }
        a.lianjie6:hover{
          text-decoration:underline;
        }

        
        /*主内容，左下部*/
        .zuo2{
          padding:0;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
        }
        .zuo21{
          background-color: #fff;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          padding: 10px;
          color:#ccc;
        }
        .zuo22{
          border-top: 1px solid #e2e2e2;
          background-color: #fff;
          color:#ccc;
          padding: 10px;
        }
        
        /*主内容，右边第一板块*/
        .you1{
          background-color: #fff;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          padding: 0;
        }
        .you11{
          padding: 10px;
        }
        .you12{
          border-top: 1px solid #e2e2e2;
          text-align: center;
          padding: 10px;
        }
        
        /*主内容，右边第二板块*/
        .you2{
          background-color: #fff;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          padding: 0px;
          text-align: center;
        }
        .you21{
          text-align:center;
        }
        .you22{
          background-color: #f2f2f2;
          text-align: center;
        }
        
        /*主内容，右边第三板块*/
        .you3{
          background-color: #fff;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          padding: 0px;
        }
        .you31{
          color: #ccc;
          font-size: 12px;
          padding: 10px;
        }
        .you32{
          padding: 10px;
          border-top: 1px solid #e2e2e2;
        }
        .you32 span{
          color: #778087;
        }
        .you33{
          padding: 10px;
          border-top: 1px solid #e2e2e2;
        }

        /*主内容，右边第四板块*/
        .you4{
          background-color: #fff;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          padding: 0;
        }
        .you42{
          border-top: 1px solid #e2e2e2;
          padding: 10px 10px 0 10px;
          margin:0;
        }
        .you42 a{
          display: inline-block;
          word-break: break-all;
          padding: 4px 10px;
          border:1px solid #e2e2e2;
          border-radius:30px;
          color: #778087;
          margin:0 8px 5px 0;
          font-size: 12px;
          text-decoration:none;
        }
        .you43{
          padding: 10px;
          border-top: 1px solid #e2e2e2;
          font-size: 12px;
        }
        
        /*主内容，右边第五板块*/
        .you5{
          background-color: #fff;
          margin-bottom: 20px;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          padding: 0px;
        }
        .you52{
          padding: 10px;
          border-top: 1px solid #e2e2e2;
        }
        .you53{
          padding:3px 10px 3px 3px;
          color: #999;
          text-align: right;
        }
        .you54{
          padding: 10px;
          border-top: 1px solid #e2e2e2;
        }
        .you54 p{
          margin: 0;
        }
        /*主内容，右边第六板块*/
        .you6{
          background-color: #fff;
          border-radius:3px;          
          box-shadow: 1px 2px #c2c2c2;
          margin-bottom: 20px;
          padding: 0px;
        }
        
        /*页尾板块*/
        footer{
          height:300px;
          background-color:#fff;
        }